.vs
/BIN
Domki/OBJ
Domki\.VC\.db
Zabawy/OBJ
Zabawy\.VC\.db
MultiSerwer/OBJ
MultiSerwer/.VC/.db
MultiSerwer/x64/**
Testowanie/OBJ
Testowanie/.VC/.db
Testowanie/x64/**
DomkoTesty/OBJ
DomkoTesty/.VC/.db
DomkoTesty/x64/**
*.log

Domki\.VC\.VC\.opendb
